body {    min-width: fit-content; margin: 0; padding: 0;    }

html {    min-width: fit-content; margin: 0; padding: 0;    }

header {    position: sticky;    display: flex;    top: 0;    font-size: 1em;    background-color: black;    width: 100%;    align-items: center;   }

header a {    color: whitesmoke;    padding: 0 1em 0 0;    text-decoration: none;    font-size: 20px;   }

img {    width: 100%;    height: auto;  }

section {    display: flex;    flex-wrap: wrap; }

#mifoto{    border-radius: 50%;    width: 3em;    height: 3em;    padding: 1em; }

.inicio {    width: 30%;    display: flex;    align-items: center;    padding: 0 1em 0 0;   }

.menu {    width: 70%;    text-align: right;    align-items: center;    }

.menu a:hover {    text-decoration: underline;    }

.about figure{    width: 25%;    margin: 0;    min-width: 248px;    }

.about img {    border-radius: 0 25% 80%  0;    box-shadow: 0 9px #999; }

.mensaje-about {    word-wrap: break-word !important;    min-width: 25%;    flex: 300px;    padding: 0em 2em;    display: grid;    align-content: center;   }

.titulo-about {  font-size: 13px !important;    display: grid;    }

.titulo{    flex: 100%;    text-align: center;    color: #fff;    background-color: #000;   }

.technologies{  padding-top: 3em; }

.sideshow-left {    display: flex;    align-items: center;    flex-wrap: wrap;    min-width: 484px;    flex: 50;    padding: 1em;   }

.sideshow-left div {    padding: 1em 1em;    flex: 25;    text-align: center;    cursor: pointer;   }

.sideshow-left div:hover {    background-color: lightgray;  }

.sideshow-left div:active{  transform: translateY(4px); }

.sideshow-right {    padding: 1em;    align-self: center;    min-width: 484px;    flex: 50;    background-color: gainsboro; }

.cert-img {    display: flex;    min-width: 484px;  flex: 50;    flex-wrap: wrap;}

.cert-img div{    flex: 15%;    align-self: center;    padding: 1em 1em;  }

.cert-img div:active{    transform: translateY(4px);    }

.cert-img div:hover{    background-color: lightgray;    cursor: pointer;    }

/* iframe{ min-width: 484px;    flex: 50;  } */

object{ min-width: 484px;  min-height: 780px;  flex: 50;  text-align: center;  align-self: center;}

.projectos {    flex: 50;  flex-wrap: wrap;  cursor: pointer;    display: flex;    align-items: center;    
    min-width: 484px;    text-decoration: none;  color: #000; align-items: center;   margin-bottom: 2em; 
}

.projectos img {    max-width: 25%; align-self: center; padding: 1em; }

.proj-text {
    max-width: 68%;
}

@media ( max-width: 1019px) {  .proj-cont .titulo { visibility: hidden;   }   .smalltitle {    visibility: show;   }  }

@media (min-width: 1020px) {  .proj-cont .titulo { visibility: show;   }   .smalltitle {    visibility: hidden;   }  }

.smalltitle{    width: 100%;    text-align: center;    color: #fff;    background-color: #000;   }

.contacto {    flex: 50;  min-width: 484px; align-self: center;  }

textarea {  width: 98%; resize: none;}

form {  display: flex;    flex-wrap: wrap;  }

form div {  min-width: 250px;   }

button {    background-color: lightseagreen;    border-radius: 15px;   height: 3em; box-shadow: 0 9px #999;    border: none;    width: 100%;    cursor: pointer;    color: #fff;    }

button:hover {    background-color: aqua;   }

button:active {  background-color: cadetblue;  box-shadow: 0 5px #666;  transform: translateY(4px); }

footer {    left: 0;    bottom: 0;    width: 100%;    text-align: center;    background-color: black;    color: white;   height: 3em;  }